* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

img {
	padding-top: 3%;
	margin-top: 30px;
	padding-bottom: 1%;
	width: 500px;
	max-width: 70%;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	font-weight: 100;
	letter-spacing: .4vw;
	line-height: 50px;
	margin-bottom: 5px;
}

.links {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1.5px;
	line-height: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

hr {
	width: 900px;
	max-width: 100%;
	display: block;
	margin: 20px auto 10px auto;
 	border: 0; 
 	height: 1px; 
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));}

a {
	color: #000;
	text-decoration: none;
}

button {
	width: 100px;
	max-width: 25%;
	height: 20px;
	margin-left: .5%;
	margin-right: .5%;
}